$app-bg: #D3E0EA;
$calculator-bg: #E5EBF0;
$numpad-main-bg: #D0DBE4;
$numpad-main-bg-hovered: #B4C5D3;
$numpad-secondary-bg: #B9C9D7;
$numpad-secondary-bg-hovered: #96AEC2;
$main-text: #416F7C;
$secondary-text: #86A9B3;
$display-bg: #D0DBE4;
$display-border: #BDCCD9;