@import '../styles/styles-mixin.scss';

#add, #subtract, #multiply,
#divide, #equals {
  display: inline-block;
  width: 40px;
  height: 40px;
  margin: 10px;

  background: lightblue;
  @include noselect;
}